<ecp-flex-tcb [topHeight]="50">
 <!-- <ecp-flex-top>
    <ecp-nav-bar [customScaling]="scaling" [customStyle]="{'left':'0px','top':'50px','bottom':'0px'}" [navJson]="leftNavList" (goTo)="navGoto($event)"></ecp-nav-bar>
  </ecp-flex-top>-->
  <ecp-flex-body><ecp-bread-crumb><span>crub</span></ecp-bread-crumb><i ></i></ecp-flex-body>
</ecp-flex-tcb>
